@import "../../styles/variables.scss";

.detail {
  position: absolute;
  right: 0;
  margin-left: $filterWidth;
  padding: 20px;
  height: 100%;
  .detailRow {
    width: 100%;
    margin-right: 20px;
  }
}
