@import "../../styles/variables.scss";

.detail {
  position: relative;
  right: 0;
  margin-left: $filterWidth;
  padding: 20px;
  height: 640px;
  padding-left: 10px;
  padding-right: 10px;
  .detailRow {
    width: 100%;
    padding-right: 0px;
    margin-right: 0;
    margin-left: 0;
  }
  .detailCol {
    padding-right: 10px;
    padding-left: 10px;
  }
}
