@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap");
@import "./variables.scss";

* {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-height: 100vh;
  overflow: hidden;
}

.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}

.no-hover {
  cursor: default !important;
}

select {
  border-radius: 6px;
  padding: 4px 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 4px !important;
  margin-top: 4px !important;
  border: 0px;
  background-color: $primary;
  color: $secondary;
  border: 1px solid $secondary;
  text-overflow: ellipsis;
}

.btn-nobel {
  border-radius: 6px;
  padding: 4px 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 4px !important;
  margin-top: 4px !important;
  border: 0px;
  border: 1px solid $secondary;
  background-color: $primary;
  color: $secondary;
  transition: 0.2s;
  font-size: 14px;
  &:hover {
    opacity: 0.8;
  }
}
label,
span {
  cursor: auto;
}
.outline {
  border: 1px solid $primary;
  background-color: $secondary;
  color: $primary;
}
a,
button,
select,
input {
  cursor: pointer;
}

label {
  display: block !important;
}

.card-che {
  background-color: $chemistry;
}
.card-eco {
  background-color: $economic;
}
.card-lit {
  background-color: $literature;
}
.card-pea {
  background-color: $peace;
}
.card-phy {
  background-color: $physics;
}
.card-med {
  background-color: $medicine;
}

.color-che {
  color: $chemistry;
}
.color-eco {
  color: $economic;
}
.color-lit {
  color: $literature;
}
.color-pea {
  color: $peace;
}
.color-phy {
  color: $physics;
}
.color-med {
  color: $medicine;
}

.bold {
  font-weight: bold;
}
.light {
  font-weight: lighter;
}
