/* Common Color */
$primary: #ff6e6e;
$secondary: white;

/* Prize Card Color */
$chemistry: #7656ce;
$economic: #57b8ff;
$literature: #ff7d1e;
$peace: #56ce8d;
$physics: #f95ea8;
$medicine: #ff5e5e;
