@import "../../styles/variables.scss";

.filter {
  background-color: $secondary;
  height: 100%;
  width: $filterWidth;
  text-align: center;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
  color: $primary;
  border-radius: 6px;
  padding: 20px 20px;
  position: fixed;
  .title {
    font-size: 20px;
  }
  .prizeAmount {
    margin-top: 50px;
    .prizeAmountText {
      font-size: 20px;
      font-weight: 400;
    }
    .prizeAmountValue {
      font-size: 20px;
      font-weight: 400;
    }
  }
  .img {
    margin-top: 40px;
    width: 80%;
    height: auto;
    object-fit: cover;
  }
  select {
    font-size: 14px;
    margin-bottom: 6px;
  }
}
