@import "../../styles/variables.scss";

.prize {
  margin-bottom: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 16px 16px;
  color: white;
  border-radius: 8px;
  position: relative;
  height: 280px;
  .title {
    .categoryWrapper {
      float: left;
      width: 80%;
      .category {
        font-size: 18px;
        font-weight: bold;
      }
    }
    .awardYear {
      position: absolute;
      padding-right: 16px;
      right: 0;
      font-size: 18px;
      font-weight: lighter;
    }
  }
  .laureateName {
    clear: both;
    margin-top: 40px;
    font-size: 14px;
    font-weight: lighter;
  }
  .motivationWrapper {
    display: flex;
    height: 100px;
    /* border: 3px solid green;*/
    margin-top: 100px;
    margin-right: 20px;
    overflow: hidden;
    top: 0;
    position: absolute;
    text-align: center;
    align-items: center;
  }
  .motivation {
    font-size: 16px;
  }
  .categoryType {
    position: absolute;
    left: 0;
    background-color: white;
    padding: 10px;
    font-size: 14px;
    bottom: 0;
    border-radius: 0px 20px 8px 8px;
  }
}
